<html>

<head>
    <title>Evento</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link id="avast_os_ext_custom_font"
        href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css" rel="stylesheet"
        type="text/css">
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>

<body>
    <h1> </h1><img id="gbr1" src="/logo.jpg" alt="Logo" class="logoEvento">
    <p>Informasi mengenai event TI</p>
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- USER INFO-->
        <div id="eventInfo">
            <h3>List Events</h3>
            <% data.forEach(function(item){ %>
                <p> 
                    <strong>Event Name :</strong><span id="eventInfoName1"><%= item.eventName %></span><br>
                    <strong>Description : </strong><span id="eventInfoDes1"><%= item.eventDes %></span><br>
                    <strong>Date : </strong> <span id="eventInfoDate1"><%= item.eventDate %></span><br>
                    <strong>Location : </strong> <span id="eventInfoLocation1"><%= item.eventLocation %></span><br>
                    <strong>URL : <%= item.eventUrl %></strong> <span id="eventInfoUrl1"></span><br>
                </p>

                <img src="<%= iklan.url %>" alt="iklan">
            <% }) %>

        </div><!-- /WRAPPER-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
</body>

</html>